.ui.one.column.centered.grid
  .sixteen.wide.mobile.seven.wide.tablet.six.wide.computer.center.aligned.column
    %h2.ui.top.attached.left.aligned.header Resend unlock instructions
    .ui.attached.segment
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'large with-message' }) do |f|
        = f.error_notification
        = f.full_error :unlock_token
        = f.input :email, required: true, autofocus: true, label: false, placeholder: "Email"
        = f.button :submit, "Resend unlock instructions", class: "large fluid"
    
    = render "devise/shared/links"